<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Q'uP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/team_builder/index">Team Builder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team_vs_team/index">Team VS Team</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/my_stats/index">My Stats</a></li>
            <li><a class="dropdown-item" href="/highscores/index">High Scores</a></li>
            <li><a class="dropdown-item" href="/friendlist/index">My Friends</a></li>
            <li><a class="dropdown-item" href="/subscriptions/index">Subscription</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">My Profile</a></li>
          </ul>
        </li>
      </ul>
      <p>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </p>
      </form>
    </div>
  </div>
</nav>